let mapleader = " "


" lines above and below
nmap <leader>ij o<Esc>k
nmap <leader>ik O<Esc>j

" moving between windows
nmap <leader>wh <c-w>h
nmap <leader>wl <c-w>l
nmap <leader>wk <c-w>k
nmap <leader>wj <c-w>j

" tabs
nmap <leader>q :action CloseContent<cr>
nmap <leader>Q :action ReopenClosedTab<cr>

nnoremap <Tab> :action PreviousTab<cr>
